@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome North America</h1>
    <p>Learn about <a href="https://www.linkedin.com/in/savas-tuylu-b9bba2253/">building Web apps with Savas</a>.</p>
</div>
